<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Predictors for Pancreatic Ductal Adenocarcinoma</title>

  <link rel="prefetch" href="https://cdn.jsdelivr.net/pyodide/v0.27.6/full/pyodide.js" as="script">
  <link rel="prefetch" href="https://cdn.jsdelivr.net/pyodide/v0.27.6/full/pyodide.asm.wasm" as="fetch">


  <link rel="stylesheet" href="https://pyscript.net/releases/2025.5.1/core.css">
  <script defer type="module" src="https://pyscript.net/releases/2025.5.1/core.js"></script>

  <link rel="stylesheet" href="../static/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <script type="module" src="../static/js/index.js"></script>
  <script type="module" src="../static/js/prediction.js"></script>

  <script type="module" src="../static/js/navigation.js"></script>

</head>

<body>

  <div class="loader-container">
    <span id="loader-text">Loading Python Packages...</span>
    <div class="loader"></div>
  </div>

  <div class="container" id="predictor-container" hidden>

    <h2>Predictors for Pancreatic Ductal Adenocarcinoma</h2>

    <h3> Select preferred Model:</h3>

    <div class="btn-group">
      <button class="model-btn" id="DT">Sensitive and Explainable</button>
      <button class="model-btn" id="RF">Specific and Balanced</button>
    </div>

    <form id="inputForm" autocomplete="off">
      
      <div class="feature" id="Age-feature">
        <input type="checkbox" id="infoToggle-Age" class="info-toggle">

        <div class="form-row" id="Age-row">

          <div class="label-group">
            <label for="Age">Age</label>

            <label class="info-icon-desktop">
              <span class="icon-wrapper">
                <i class="fa-regular fa-circle-question fa-2xs"></i>

                <div class="hover-box">
                  <p>Patient's Age</p>
                </div>
              </span>
            </label>
          </div>

          <input id="Age" type="text">

        </div>

        <label for="infoToggle-Age" class="info-icon-mobile">
          <span class="icon-wrapper">
            <i class="fa-solid fa-chevron-down fa-2xs"></i>
          </span>
        </label>

        <div class="info-drawer">
          <p>Patient's Age</p>
        </div>
        
      </div>

      <div class="feature" id="Sex-feature">
        <input type="checkbox" id="infoToggle-Sex" class="info-toggle">

        <div class="form-row" id="Sex-row">

          <div class="hover-box">
            <label for="Sex">Sex</label>

            <label class="info-icon-desktop">
              <span class="icon-wrapper">
                <i class="fa-regular fa-circle-question fa-2xs"></i>

                <div class="hover-box">
                  <p>Patient's Sex</p>
                </div>
              </span>
            </label>
          </div>

          <select id="Sex">

            <option value="0">Female</option>

            <option value="1">Male</option>

          </select>
        </div>

        <label for="infoToggle-Sex" class="info-icon-mobile">
          <span class="icon-wrapper">
            <i class="fa-solid fa-chevron-down fa-2xs"></i>
          </span>
        </label>

        <div class="info-drawer">
          <p>Patient's Sex</p>
        </div>
      </div>

      <div class="feature" id="Dim1-feature">
        <input type="checkbox" id="infoToggle-Dim1" class="info-toggle">

        <div class="form-row" id="Dim1-row">

          <div class="label-group">
            <label for="Dim1">Max Dimension</label>

            <label class="info-icon-desktop">
              <span class="icon-wrapper">
                <i class="fa-regular fa-circle-question fa-2xs"></i>

                <div class="hover-box">
                  <p>
                    <em>(in millimeters)</em> <br> 
                    <strong>Maximum size</strong> of the <strong>solid lesion</strong>
                  </p>
                </div>
              </span>
            </label>
          </div>

          <input id="Dim1" type="text" placeholder="(in mm)">

        </div>

        <label for="infoToggle-Dim1" class="info-icon-mobile">
          <span class="icon-wrapper">
            <i class="fa-solid fa-chevron-down fa-2xs"></i>
          </span>
        </label>

        <div class="info-drawer">
          <p>
            <em>(in millimeters)</em> <br> 
            <strong>Maximum size</strong> of the <strong>solid lesion</strong>
          </p>
        </div>
      </div>

      <div class="feature" id="Dim2-feature">
        <input type="checkbox" id="infoToggle-Dim2" class="info-toggle">

        <div class="form-row" id="Dim2-row">

          <div class="label-group">
            <label for="Dim2">Min Dimension</label>
            
            <label class="info-icon-desktop">
              <span class="icon-wrapper">
                <i class="fa-regular fa-circle-question fa-2xs"></i>

                <div class="hover-box">
                  <p>
                    <em>(in millimeters)</em> <br>
                    <strong>Minimum size</strong> of the <strong>solid lesion</strong>
                  </p>
                </div>
              </span>
            </label>
          </div>

          <input id="Dim2" type="text" placeholder="(in mm)">

        </div>

        <label for="infoToggle-Dim2" class="info-icon-mobile">
          <span class="icon-wrapper">
            <i class="fa-solid fa-chevron-down fa-2xs"></i>
          </span>
        </label>

        <div class="info-drawer">
          <p>
            <em>(in millimeters)</em> <br>
            <strong>Minimum size</strong> of the <strong>solid lesion</strong>
          </p>
        </div>
      </div>

      <div class="feature" id="Veins-feature">
        <input type="checkbox" id="infoToggle-Veins" class="info-toggle">
        <div class="form-row" id="Veins-row">

          <div class="label-group">
            <label for="Veins">Veinous Infiltration</label>
            <label class="info-icon-desktop">
              <span class="icon-wrapper">
                <i class="fa-regular fa-circle-question fa-2xs"></i>

                <div class="hover-box">
                  <p>
                    Whether <strong>veinous infiltration</strong> by the <strong>solid lesion</strong> is <strong>present (True) or not (False)</strong>.
                  </p>
                </div>
              </span>
            </label>
          </div>

          <select id="Veins">

            <option value="0">False</option>
            
            <option value="1">True</option>

          </select>

        </div>

        <label for="infoToggle-Veins" class="info-icon-mobile">
          <span class="icon-wrapper">
            <i class="fa-solid fa-chevron-down fa-2xs"></i>
          </span>
        </label>

        <div class="info-drawer">
          <p>
            Whether <strong>veinous infiltration</strong> by the <strong>solid lesion</strong> is <strong>present (True) or not (False)</strong>.
          </p>
        </div>
      </div>

      <div class="feature" id="Arteries-feature">
        <input type="checkbox" id="infoToggle-Arteries" class="info-toggle">
        <div class="form-row" id="Arteries-row">

          <div class="label-group">
            <label for="Arteries">Arterious Infiltration</label>
            <label class="info-icon-desktop">
              <span class="icon-wrapper">
                <i class="fa-regular fa-circle-question fa-2xs"></i>

                <div class="hover-box">
                  <p>
                    Whether <strong>arterious infiltration</strong> by the <strong>solid lesion</strong> is <strong>present (True) or not (False)</strong>.
                  </p>
                </div>
              </span>
            </label>
          </div>

          <select id="Arteries">

            <option value="0">False</option>
            
            <option value="1">True</option>

          </select>

        </div>

        <label for="infoToggle-Arteries" class="info-icon-mobile">
          <span class="icon-wrapper">
            <i class="fa-solid fa-chevron-down fa-2xs"></i>
          </span>
        </label>

        <div class="info-drawer">
          <p>
            Whether <strong>arterious infiltration</strong> by the <strong>solid lesion</strong> is <strong>present (True) or not (False)</strong>.
          </p>
        </div>
      </div>

      <div class="feature" id="DuctRetrodilation-feature">
        <input type="checkbox" id="infoToggle-Duct" class="info-toggle">
        <div class="form-row" id="DuctRetrodilation-row">

          <div class="label-group">
            <label for="DuctRetrodilation">Duct Retrodilatation, Ductal Invasion</label>
            <label class="info-icon-desktop">
              <span class="icon-wrapper">
                <i class="fa-regular fa-circle-question fa-2xs"></i>


                <div class="hover-box">
                  <p>
                    Whether: <br>
                    - <strong>(True)</strong> The <strong>main pancreatic duct</strong> and/or the <strong>common bile duct</strong> is <strong>invaded</strong> by the lesion,
                    leading to <strong>retrodilatation (upstream enlargement)</strong> due to <strong>obstruction of pancreatic juice or bile outflow</strong>.
                    <br>
                    - <strong>(False)</strong> Neither duct is significantly affected or invaded by the lesion, and <strong>no retrodilatation is observed</strong>.
                  </p>
                </div>
              </span>
            </label>
          </div>

          <select id="DuctRetrodilation">

            <option value="0" selected>False</option>

            <option value="1">True</option>

          </select>

        </div>

        <label for="infoToggle-Duct" class="info-icon-mobile">
          <span class="icon-wrapper">
            <i class="fa-solid fa-chevron-down fa-2xs"></i>
          </span>
        </label>

        <div class="info-drawer">
          <p>
            Whether: <br>
            - <strong>(True)</strong> The <strong>main pancreatic duct</strong> and/or the <strong>common bile duct</strong> is <strong>invaded</strong> by the lesion,
            leading to <strong>retrodilatation (upstream enlargement)</strong> due to <strong>obstruction of pancreatic juice or bile outflow</strong>.
            <br>
            - <strong>(False)</strong> Neither duct is significantly affected or invaded by the lesion, and <strong>no retrodilatation is observed</strong>.
          </p>
        </div>
      </div>

      <div class="feature" id="VesselCompression-feature">
        <input type="checkbox" id="infoToggle-Vessel" class="info-toggle">
        <div class="form-row" id="VesselCompression-row">

          <div class="label-group">
            <label for="VesselCompression">Vessel Compression</label>
            <label class="info-icon-desktop">
              <span class="icon-wrapper">
                <i class="fa-regular fa-circle-question fa-2xs"></i>

                <div class="hover-box">
                  <p>
                    Whether: <br>
                    - <strong>(True)</strong> The solid lesion <strong>compresses the Vessel</strong> but does not infiltrate it,
                    on imaging (e.g. ultrasound), the <strong>vessel's profile</strong> remains <strong>smooth and intact</strong>,
                    but it's <strong>caliber</strong> (diameter) is <stong>reduced</stong> due to external pressure.
                    <br>
                    - <strong>(False)</strong> The <strong>vessel</strong> is <strong>not compressed</strong> or <strong>infiltrated</strong> by the lesion.
                  </p>
                </div>
              </span>
            </label>
          </div>

          <select id="VesselCompression">

            <option value="0" selected>False</option>

            <option value="1">True</option>

          </select>

        </div>

        <label for="infoToggle-Vessel" class="info-icon-mobile">
          <span class="icon-wrapper">
            <i class="fa-solid fa-chevron-down fa-2xs"></i>
          </span>
        </label>

        <div class="info-drawer">
          <p>
            Whether: <br>
            - <strong>(True)</strong> The solid lesion <strong>compresses the Vessel</strong> but does not infiltrate it,
            on imaging (e.g. ultrasound), the <strong>vessel's profile</strong> remains <strong>smooth and intact</strong>,
            but it's <strong>caliber</strong> (diameter) is <stong>reduced</stong> due to external pressure.
            <br>
            - <strong>(False)</strong> The <strong>vessel</strong> is <strong>not compressed</strong> or <strong>infiltrated</strong> by the lesion.
          </p>
        </div>
      </div>

      <div class="feature" id="Lymphadenopathy-feature">
        <input type="checkbox" id="infoToggle-Lymph" class="info-toggle">
        <div class="form-row" id="Lymphadenopathy-row">

          <div class="label-group">
            <label for="Lymphadenopathy">Lymphadenopathy</label>
            <label class="info-icon-desktop">
              <span class="icon-wrapper">
                <i class="fa-regular fa-circle-question fa-2xs"></i>

                <div class="hover-box">
                  <p>
                    Whether an <strong>abnormal enlargement</strong> of <strong>Lymph Nodes</strong> 
                    is <strong>present (True)</strong> or <strong>not (False)</strong>.
                  </p>
                </div>
              </span>
            </label>
          </div>

          <select id="Lymphadenopathy">

            <option value="0" selected>False</option>

            <option value="1">True</option>

          </select>

        </div>

        <label for="infoToggle-Lymph" class="info-icon-mobile">
          <span class="icon-wrapper">
            <i class="fa-solid fa-chevron-down fa-2xs"></i>
          </span>
        </label>

        <div class="info-drawer">
          <p>
            Whether an <strong>abnormal enlargement</strong> of <strong>Lymph Nodes</strong> 
            is <strong>present (True)</strong> or <strong>not (False)</strong>.
          </p>
        </div>
      </div>

      <div class="feature" id="Margins-feature">
        <input type="checkbox" id="infoToggle-Margins" class="info-toggle">
        <div class="form-row" id="Margins-row">

          <div class="label-group">
            <label for="Margins">Regular Margins</label>
            <label class="info-icon-desktop">
              <span class="icon-wrapper">
                <i class="fa-regular fa-circle-question fa-2xs"></i>

                <div class="hover-box">
                  <p>
                    Whether the <strong>margins</strong> of the lesion are 
                    <strong>Irregular/Ragged (False)</strong> or are <strong>Regular Margins (True)</strong>.
                  </p>
                </div>
              </span>
            </label>
          </div>

          <select id="Margins">

            <option value="0" selected>False</option>

            <option value="1">True</option>

          </select>

        </div>

        <label for="infoToggle-Margins" class="info-icon-mobile">
          <span class="icon-wrapper">
            <i class="fa-solid fa-chevron-down fa-2xs"></i>
          </span>
        </label>

        <div class="info-drawer">
          <p>
            Whether the <strong>margins</strong> of the lesion are 
            <strong>Irregular/Ragged (False)</strong> or are <strong>Regular Margins (True)</strong>.
          </p>
        </div>
      </div>

      <div class="feature" id="Ecostructure-feature">
        <input type="checkbox" id="infoToggle-Ecostruct" class="info-toggle">
        <div class="form-row" id="Ecostructure-row">

          <div class="label-group">
            <label for="Ecostructure">Echogenicity</label>
            <label class="info-icon-desktop">
              <span class="icon-wrapper">
                <i class="fa-regular fa-circle-question fa-2xs"></i>

                <div class="hover-box">
                  <p>
                    Whether: <br>
                    - The <strong>lesion</strong> is <strong>Hypoechoic</strong>
                    , meaning it <strong>appears darker</strong> than the surrounding
                    <strong>pancreatic parenchyma</strong>.
                    <br>
                    - The <strong>lesion</strong> 
                    is either <strong>Isoechoic</strong> (same echogenicity/color as the pancreas)
                    or <strong>Hyperechoic</strong> (brighter than the pancreas).
                  </p>
                </div>
              </span>
            </label>
          </div>

          <select id="Ecostructure">

            <option value="0" selected>Ipoechoic</option>

            <option value="1">Iso/iperechoic</option>

          </select>

        </div>

        <label for="infoToggle-Ecostruct" class="info-icon-mobile">
          <span class="icon-wrapper">
            <i class="fa-solid fa-chevron-down fa-2xs"></i>
          </span>
        </label>

        <div class="info-drawer">
          <p>
            Whether: <br>
            - The <strong>lesion</strong> is <strong>Hypoechoic</strong>
            , meaning it <strong>appears darker</strong> than the surrounding
            <strong>pancreatic parenchyma</strong>.
            <br>
            - The <strong>lesion</strong> 
            is either <strong>Isoechoic</strong> (same echogenicity/color as the pancreas)
            or <strong>Hyperechoic</strong> (brighter than the pancreas).
          </p>
        </div>
      </div>

      <div class="feature" id="Multiple-feature">
        <input type="checkbox" id="infoToggle-Multiple" class="info-toggle">
        <div class="form-row" id="Multiple-row">

          <div class="label-group">
            <label for="Multiple">Multiple Lesions</label>
            <label class="info-icon-desktop">
              <span class="icon-wrapper">
                <i class="fa-regular fa-circle-question fa-2xs"></i>

                <div class="hover-box">
                  <p>Whether there are more than one Solid Lesion (True) or there's only one Solid Lesion (False).</p>
                </div>
              </span>
            </label>
          </div>

          <select id="Multiple">

            <option value="0">False</option>
            
            <option value="1">True</option>

          </select>

        </div>

        <label for="infoToggle-Multiple" class="info-icon-mobile">
          <span class="icon-wrapper">
            <i class="fa-solid fa-chevron-down fa-2xs"></i>
          </span>
        </label>

        <div class="info-drawer">
          <p>Whether there are more than one Solid Lesion (True) or there's only one Solid Lesion (False).</p>
        </div>
      </div>
      
      <input type="checkbox" id="infoToggle-Hospital" class="info-toggle">

      <div class="form-row" id="HospitalCenter-row">

        <div class="label-group">
          <label for="HospitalCenter">Hospital Center &nbsp; (optional)</label>
          <label class="info-icon-desktop">
            <span class="icon-wrapper">
              <i class="fa-regular fa-circle-question fa-2xs"></i>

              <div class="hover-box">
                <p>
                  Hospital Center of the case
                </p>
              </div>
            </span>
          </label>
        </div>
        
        <input id="HospitalCenter" type="text" class="optional">
        
      </div>

      <label for="infoToggle-Hospital" class="info-icon-mobile">
        <span class="icon-wrapper">
          <i class="fa-solid fa-chevron-down fa-2xs"></i>
        </span>
      </label>

      <div class="info-drawer">
        <p>
          Hospital Center of the case
        </p>
      </div>
      
      <input type="checkbox" id="infoToggle-Protocol" class="info-toggle">
      <div class="form-row" id="ProtocolCode-row">

        <div class="label-group">
          <label for="ProtocolCode">Protocol Code &nbsp; (optional)</label>
          <label class="info-icon-desktop">
            <span class="icon-wrapper">
              <i class="fa-regular fa-circle-question fa-2xs"></i>

              <div class="hover-box">
                <p>
                  Protocol Code of the case
                </p>
              </div>
            </span>
          </label>
        </div>
        
        <input id="ProtocolCode" type="text" class="optional">
        
      </div>

      <label for="infoToggle-Protocol" class="info-icon-mobile">
        <span class="icon-wrapper">
          <i class="fa-solid fa-chevron-down fa-xs"></i>
        </span>
      </label>

      <div class="info-drawer">
        <p>
          Protocol Code of the case
        </p>
      </div>

      <button id="predictButton" type="button">Classify</button>

      <div class="error" id="validationError" style="color: red; margin-top: 1rem; text-align: center;"></div>


    </form>

    <div class="error" id="error"></div>

  </div>




  <div id="DT-Modal" class="modal">
    <div id="inner-modal">
      <img class="modal-content" id="Dt-img" src="../static/DT_tree.png">
    </div>
  </div>





  <div class="container" id="feedback-container" hidden>
      <h2>Prediction of the model</h2>
      
      <div class="feedback-row">
        <h3 id="selected-model">Selected Model: </h3>
        <button id="show-DT-button" hidden>Show Decision Tree</button>
      </div>

      <div class="result" id="result"></div>

      <div id="gradient-bar">
        <div id="gradient-legend-benign">Benign</div>
        <div id="gradient-legend-uncertain">Uncertain</div>
        <div id="gradient-legend-malignant">Malignant</div>
      </div>
      
      <br>

      <h2 class="feedback">
        Please give us your feedback:
      </h2>
      
      <form class="feedback" id="feedback">
        <label>
          1. On a scale from 1 (not at all) to 4 (completely), how reliable do you consider this information?
        </label><br>
        <div class="radio-group dual-mode">
          <div class="radio-row-desktop">
            <label>not at all <input type="radio" name="reliability" value="1"></label>
            <label><input type="radio" name="reliability" value="2"></label>
            <label><input type="radio" name="reliability" value="3"></label>
            <label><input type="radio" name="reliability" value="4"> completely</label>
          </div>

          <div class="radio-row-mobile">
            <div class="radio-buttons">
              <label><input type="radio" name="reliability" value="1"></label>
              <label><input type="radio" name="reliability" value="2"></label>
              <label><input type="radio" name="reliability" value="3"></label>
              <label><input type="radio" name="reliability" value="4"></label>
            </div>
            <div class="radio-labels">
              <span>not at all</span>
              <span>completely</span>
            </div>
          </div>
        </div>




        <label>
          2. On a scale from 1 (not at all) to 4 (completely), how useful do you find this tool?
        </label><br>
        <div class="radio-group dual-mode">
          <div class="radio-row-desktop">
            <label>not at all <input type="radio" name="usefulness" value="1"></label>
            <label><input type="radio" name="usefulness" value="2"></label>
            <label><input type="radio" name="usefulness" value="3"></label>
            <label><input type="radio" name="usefulness" value="4"> completely</label>
          </div>

          <div class="radio-row-mobile">
            <div class="radio-buttons">
              <label><input type="radio" name="usefulness" value="1"></label>
              <label><input type="radio" name="usefulness" value="2"></label>
              <label><input type="radio" name="usefulness" value="3"></label>
              <label><input type="radio" name="usefulness" value="4"></label>
            </div>
            <div class="radio-labels">
              <span>not at all</span>
              <span>completely</span>
            </div>
          </div>
        </div>




        <label>
          3. On a scale from 1 (not at all) to 4 (completely), to what extent do you think this information will influence your upcoming decisions regarding reporting and prescribing?
        </label><br>
        <div class="radio-group dual-mode">
          <div class="radio-row-desktop">
            <label>not at all <input type="radio" name="influence" value="1"></label>
            <label><input type="radio" name="influence" value="2"></label>
            <label><input type="radio" name="influence" value="3"></label>
            <label><input type="radio" name="influence" value="4"> completely</label>
          </div>

          <div class="radio-row-mobile">
            <div class="radio-buttons">
              <label><input type="radio" name="influence" value="1"></label>
              <label><input type="radio" name="influence" value="2"></label>
              <label><input type="radio" name="influence" value="3"></label>
              <label><input type="radio" name="influence" value="4"></label>
            </div>
            <div class="radio-labels">
              <span>not at all</span>
              <span>completely</span>
            </div>
          </div>
        </div>




        <div class="form-row">
          <label for="recommendability">
            4. On a scale from 0 (impossible) to 10 (certain), how likely are you to recommend this tool to a colleague?
          </label>

          <select id="recommendability" class="optional">
      
            <option value="0">0 (Impossible)</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>            
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10 (Certain)</option>
      
          </select>
        </div>

		<div style="margin-top: 2rem;"></div>
		
        <label for="reason">5. Why?</label><br>
        <textarea id="reason" rows="6" cols="70" placeholder="Explain here..."></textarea>

        <div class="button-row">
			<button id="form-submit" type="submit">Send</button>
			<button id="back-button" type="button">Back</button>
		</div>
		
		<p id="feedback-confirmation" style="margin-top: 1rem; font-weight: bold; color: green;"></p>

      </form>

    </div>

  <script defer type="py" src="../static/py/model_prediction.py" config="./pyscript.toml"></script>
  
</body>

</html>